<% content_for :title do %>About<% end %>
<h3>About the Website</h3>
<div class="container">
<p>
This web application is for you to place orders and to check if delivery and payments have been made...</p>
</div>