<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Ordered by <%= @product.user.name %></h1>
    <p>
      Order <%= @product.name %> || Quantity <%= @product.quantity %>
    </p>
  </body>
</html>
